matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
scikit-learn==1.1.1
sklearn==0.0
streamlit==1.28.2
seaborn==0.11.2
pygwalker==0.2.2
streamlit-option-menu==0.3.6
plotly==5.9.0
deta==1.1.0
st-annotated-text==4.0.0
openpyxl==3.1.2
